
body{
    background-image: url('../img/background.jpeg');
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

header{
    height: 3rem;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
}

footer{
    height: 3rem;
    background-color: black;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

.logo img{
    width: 60%;
}

.login-formulario{
    background-color: black;
    color: #fd8d07;
    width: 100%;
}

.btn-ingresar{
    background-color: #fd8d07;
    cursor: pointer;
    padding: 5px 20px;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    border: 0;
}

.centrar-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#error{
    display: none;
    color: #fd8d07;
    font-size: 0.8rem;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .mt-5{
        margin-top: 10rem !important;
    }
}