body{
    background-image: url('../img/background.jpeg');
    font-family: 'Ubuntu', sans-serif;
}

body p{
    margin: 0;
}

header{
    height: 3rem;
    background-color: black;
    color: #fd8d07;
    width: 100%;
    padding: 5px 0;
}

.header-mensaje{
    position: relative;
}

.alerta-mensaje-nuevo{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: green;
    right: 44px;
    top: 3px;
}

.row, .col{
    margin: 0;
}

.logo-sin-fondo img{
    width: 50%;
}

.separador{
    height: 0.3rem;
    border-radius: 10px;
    width: 95%;
    background-color: black;
}

.navegacion .col{
    background-color: black;
    color:#fd8d07;
    border-radius: 10px;
    cursor: pointer;
}

.active{
    background-color: #fd8d07 !important;
    color: black !important;
}

.triangulos .col{
    color: #fd8d07;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.renderizar-pedidos{
    height: 60dvh;
    background-color: black;
}

.renderizar-pedidos .row{
    background-color: white;
    min-height: 5rem;
}

.renderizar-pedidos .row img{
    width: 100%;
} 

.centrar-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-8 .nombre{
    font-size: 0.9rem;
    color: #fd8d07;
}

.col-8 .telefono{
    font-size: 0.7rem;
}

.col-8 .comision{
    font-size: 0.8rem;
    color: #fd8d07;
} 

.col-8 .direccion{
    font-size: 0.7rem;
}


.btn-default{
    background-color: #fd8d07;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px 10px;
    border: 0;
    font-weight: bold;
    min-width: 5rem;
}

.btn-close1{
    background-color: #b0b0b0;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px 10px;
    border: 0;
    font-weight: bold;
    min-width: 5rem;
}

.active-btn-estado{
    background-color: #fd8d07 !important;
}

#pagina-tomados, #pagina-entregas{
    display: none;
}

.modal-content{
    background-image: url('../img/backgroud-negro.jpg');
}

.modal-header{
    background-color: #fd8d07;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    height: 3rem;
}

.img-usuario{
    width: 50%;
}

.modal-footer{
    border: 0;
}

.cuerpo-mensaje{
    background-color: white;
}

#modalMensajes .modal-body{
    padding: 0;
}

#modalMensajes span{
    padding: 10px;
}

.div-flex-end{
    display: flex;
    justify-content: flex-end;
}

.div-flex-end .col-2 i{
    font-size: 1.5rem;
}

#modalInfoProducto .modal-body{
    padding: 0 10px;
    color: white;
}

#modalInfoProducto table{
    font-size: 15px;
}

#modalInfoProducto td{
    padding: 4px;
}

.titulo{
    font-size: 17px;
}

#modalEstadoPedido .modal-body img{
    width: 90%;
}

footer{
    height: 3rem;
    background-color: black;
    position: absolute;
    bottom: 0; 
    width: 100%;
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    header{
        height: 4rem;
    }

    .alerta-mensaje-nuevo {
        right: 43px;
        top: 20px;
    }
}