body{
    background-image: url('../img/background.jpeg');
    font-family: 'Ubuntu', sans-serif;
}

body p{
    margin: 0;
}

header{
    height: 3rem;
    background-color: black;
    color: #fd8d07;
    width: 100%;
    padding: 5px 0;
}

.row, .col{
    margin: 0;
}

.logo-sin-fondo img{
    width: 50%;
}

.separador{
    height: 0.3rem;
    border-radius: 10px;
    width: 95%;
    background-color: black;
}

.navegacion .col{
    background-color: black;
    color:#fd8d07;
    border-radius: 10px;
    cursor: pointer;
}

.active{
    background-color: #fd8d07 !important;
    color: black !important;
}

.triangulos .col{
    color: #fd8d07;
}

.renderizar-pedidos{
    height: 60dvh;
    background-color: black;
}

.renderizar-pedidos .row{
    background-color: white;
    min-height: 5rem;
}

.renderizar-pedidos .row img{
    width: 100%;
} 

.centrar-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-8 .nombre{
    font-size: 0.9rem;
    color: #fd8d07;
}

.col-8 .telefono{
    font-size: 0.7rem;
}

.col-8 .comision{
    font-size: 0.8rem;
    color: #fd8d07;
} 

.col-8 .direccion{
    font-size: 0.7rem;
}


.btn-pedidos{
    background-color: #fd8d07;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 5px 10px;
    border: 0;
    font-weight: bold;
    min-width: 5rem;
}

#pagina-tomados, #pagina-entregas{
    display: none;
}

footer{
    height: 3rem;
    background-color: black;
    position: absolute;
    bottom: 0; 
    width: 100%;
}